 
.Wrapper {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1em;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    background-color:#f6ecf0;
 
}

.Favorites {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    box-sizing: border-box;
    border-radius: 5px;
    padding: .6em;
    width: 100%;
    height: 90%;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    direction: rtl;
    background-color:#fefefe;
    
}


.Loader{

    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}