
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,900&display=swap');




button{
    width:100%;
    height:10%;
    background: white;
    border-style: none;
    font-size: 23px;
    letter-spacing: 3px;
    outline: none;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 5px;
    transition: all .5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: 'Rubik', sans-serif;
}

.Title{
    padding: 0;
    margin: 0;
}
button span{
    position: absolute;
    display: block;
}
button span:nth-child(1){
    height: 3px;
    width:200px;
    top:0px;
    left:-200px;
    background: linear-gradient(to right, rgba(0,0,0,0), #cd5d7d);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span1 2s linear infinite;
    animation-delay: 1s;
}

@keyframes span1{
    0%{
        left:-200px
    }
    100%{
        left:200px;
    }
}
button span:nth-child(2){
    height: 70px;
    width: 3px;
    top:-70px;
    right:0px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), #cd5d7d);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span2 2s linear infinite;
    animation-delay: 2s;
}
@keyframes span2{
    0%{
        top:-70px;
    }
    100%{
        top:70px;
    }
}
button span:nth-child(3){
    height:3px;
    width:200px;
    right:-200px;
    bottom: 0px;
    background: linear-gradient(to left, rgba(0,0,0,0), #cd5d7d);
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    animation: span3 2s linear infinite;
    animation-delay: 3s;
}
@keyframes span3{
    0%{
        right:-200px;
    }
    100%{
        right: 200px;
    }
}

button span:nth-child(4){
    height:70px;
    width:3px;
    bottom:-70px;
    left:0px;
    background: linear-gradient(to top, rgba(0,0,0,0), #cd5d7d);
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    animation: span4 2s linear infinite;
    animation-delay: 4s;
}
@keyframes span4{
    0%{
        bottom: -70px;
    }
    100%{
        bottom:70px;
    }
}

button p{
    transition: all .3s;
}

button:hover{
   
    box-shadow: 0px 3px 5px rgba(0,0,0,.4);


}


button:active span{
    background: linear-gradient(to top, rgba(0,0,0,0), #ce021d);
}


button:active{
    transform: scale(1.1);
    color:white;
    font-size: 3em;
}


@media (max-height:415px){


    button{
        height: 20%;
    }
   
   
   }