.Toolbar {
    height: 8vh;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-color: #cd5d7d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 0;
    box-sizing: border-box;
    z-index: 10;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
}

.Toolbar svg {
    display: none;
}

.Toolbar nav ul {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 1em;
}

.Toolbar nav ul li a {

    margin-left: .4em;
}

@media (max-width:768px) {
    .Toolbar nav {
        display: none;
    }
    .Toolbar svg {
        display: block;
    }
    .Toolbar {
        height: 8%;
    }
}

/* 
@media (max-height:415px){


    .Toolbar svg {
        display: block;
    }

    .Toolbar nav {
        display: none;
    }

    .Toolbar{
        height: 14vh;
    
    }
   
   
   } */

@media (min-width:768px) {
    .Toolbar svg {
        display: none;
    }
    .Toolbar nav {
        display: block;
    }
    .Toolbar {
        height: 7vh;
    }
}