
.Wrapper {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 2em;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    background-color:#f6ecf0;
 
}

.About {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 1em;
    width: 100%;
    height: 90%;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    direction: rtl;
    background-color:white;
}



@media (max-height:415px){


    .About img{
       display: none;
    }

    
   
   
   }



   
@media (min-width:768px){


    .About img{
       display: block;
       width:15vw
    }

    .About {
        font-size: .6rem;
     }

    
   
   
   }


   
   