.Card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 1em;
    width: 100%;
    height: 90%;
    display: flex;
    margin: 0;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    direction: rtl;
    background-color:white;
}

.Hide{
    display: none;
}

.Card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


.Card .Badge{
        position: absolute;
        background: rgba(253, 253, 253, 0);
        margin: 1em;
        padding: 0;
    
}

.Badge svg{
    fill:rgba(87, 85, 85, 0.705);
    padding: 0;
    margin:0;
    animation: badge 3s ease 0s infinite alternate;

}

@keyframes badge {
    from {fill: rgb(255, 255, 255);}
    to {fill: rgb(37, 37, 37);}
  }

  .Card img{
    border-radius: 16px;
    height: 30vh;
    width: 50vw;
    margin: 0em;
    padding: 0em;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    object-fit: cover;
  }



.Container {
    box-sizing: border-box;
    padding: 1em 1em 0em 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Container h3 {
    margin:.5em;
    padding: 0;
    width: 100%;
}

.Container p {
    width: 100%;
    padding: 0;
    font-size:calc(10px + 2vmin);
    margin:0;
}
.Card .Loader{
    height: 50vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Card .Zoom{
    width:100vw;
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}