.FavoriteItem{

    display: grid;
    grid-template-columns: 30% 50% 20%;
    grid-template-rows: 100%;
    height: 20%;
    margin-bottom:.6em;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.Information{
    width:100%; 
    height:100%;
    padding:.8em;
    box-sizing: border-box;

}


.FavoriteItem img{
    height: 100%;
    width:100%;
    object-fit: cover;
}

.Information div{

    padding:0;
    margin:0;

}

.Information h4{
    padding:0;
    margin:0;
}