.SideDrawer{

    width: 70%;
    height: 100%;
    max-width: 80%;
    background-color:lightblue;
    z-index: 100;
    position: fixed;
    right: 0;
    top:0;
    transition: transform ease-out 0.3s;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.SideDrawer nav{
    margin-top:1em;
}

.Open{
    transform: translateX(0);
}

.Close{
    transform:translateX(100%);
}