.SideDrawer{

    width: 70%;
    height: 100%;
    max-width: 80%;
    z-index: 100;
    position: fixed;
    right: -1px;
    top:0;
    transition: transform ease-out 0.3s;
    display: flex;
    align-items: center;
    flex-direction: column;

    
}

.SideDrawer nav{
    margin-top:1em;
}


.SideDrawer nav a {
    color: #ffffff;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    font-size: 2rem;
}

.SideDrawer nav a:hover, .SideDrawer nav a:active {
    color: #c50454;
    text-decoration: none;
    font-size: 2rem;
}







.Open{
    transform: translateX(0);
  
}

.Close{
    transform:translateX(100%);
}



/* @media (max-height:415px){


    .SideDrawer{
       
        width: 50%;
       
    }


    .SideDrawer img{
       
        display: block;
        width: 20vw;
    }




} */