.Login {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 1em;
    width: 100%;
    height: 90%;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    direction: rtl;
    background-color:#59606d;
    
}


.Login button{
    margin:.3em;
}

.Login img{
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
	0% {
        transform: translatey(0px);
        
        transform: scale(1.1);
	}
	50% {
        transform: translatey(-5px);
        transform: scale(1.3);
	}
	100% {
        transform: translatey(0px);
        transform: scale(1.1);
      
	}
}



.Wrapper {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 2em;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
    flex-direction: column;
 
}
